@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    height: 100%;
    padding-top: 30px;
    background-color: #F3F4F6;
    overflow: hidden;
    z-index: 1000;
}

.sidebar-logo {
    width: 180px;
    margin: 0 auto 20px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
}

.sidebar-info-perfil {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 16px;
    color: #9CA3AF;
}

.sidebar-info-perfil h2 {
    font-size: 25px;
    color: #374151;
}

.sidebar-logo-perfil {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.sidebar-divider {
    margin: 10px 0;
    background-color: #9CA3AF;
}

.sidebar-nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar-button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0 20px;
    font-size: 20px;
    text-align: left;
    color: #374151;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar-button .sidebar-icon {
    font-size: 24px;
    color: #9CA3AF;
}

.sidebar-button:hover, .sidebar-selected {
    background-color: red;
    color: white;
}

.sidebar-selected .sidebar-icon, .sidebar-button:hover .sidebar-icon {
    color: white;
}

.sidebar-button span {
    margin-left: 10px;
}



.sidebar a {
    text-decoration: none;
}
