.bodyPromocao {
    margin: 40px 40px 40px 250px;
}

div{
    font-family: Arial, Helvetica, sans-serif;
}

.main-content-promocao {
    margin: 40px 40px 40px 0px;
    background-color: #fff;
    border: #000000;
    border: 1px solid #9CA3AF;
    border-radius: 10px;
}

.new-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: red;
    background-color: #fff;
    color: black;
}
.new {
    margin: 20px;
}

.new:hover{
    background-color: red;
}

.btn {
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 20px;
}


.bodyPromocao {
    padding: 20px;
}

.input_promocao {
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
}

.main-content-promocao {
    margin-top: 20px;
}

.btn {
    margin-bottom: 20px;
}

.ant-table {
    margin-top: 20px;
}
